<div class="forumItem reply" ng-controller="ForumReplyCtrl as replyVm">
	<div class="header row">
		<div class="photo col-xs-1">
			<a href="{{reply.autor.url}}" ng-bind-html="reply.autor.avatar"></a>
		</div>
		<div class="info col-xs-11">
			<div class="name">
				<a href="{{reply.autor.url}}"> {{reply.autor.name}} </a>
			</div>
			<div class="date">{{reply.createDate | date}}</div>
		</div>
		<span ng-bind-html="reply.contentShort"></span> <span
			ng-bind-html="reply.contentShort" style="display: none;"></span>
	</div>

	<div class="attachment" ng-repeat="attach in reply.attachmentList">
		<div ng-include="$root.baseTplUrl + 'editReply.tpl.html'"></div>
	</div>
	<div class="actions" ng-if="reply.like">
		<a class="like" href="#">{{reply.translation.like}}</a> <a
			class="like dislike" href="#">{{reply.translation.dislike}}</a>
		<div class="like-count">
			<i class="like-img"></i><span class="count">{{reply.like}}</span>
		</div>
	</div>
</div>